[Unit]
Description=A simple HTTP server
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/caio/dev/gosite
ExecStart=/home/caio/dev/gosite/gosite

[Install]
WantedBy=default.target