body {
  margin-top: 1em;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: #333;
  text-rendering: optimizeLegibility;
}
a {
}
div.wrapper {
  margin: 0 5%;
  width: 90%;
}
h1 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 14px;
}
a.email {
  font-size: 16px;
}
h1,
a.email {
  display: inline;
}
img {
  width: 100%;
}
ul.posts {
  list-style: none;
  padding: 0;
}
ul.posts li {
  margin-bottom: 1rem;
}
time {
  font-size: 0.8rem;
}
ul.posts time {
  display: block;
  height: 20px;
}
article time {
  display: block;
  margin-top: -1rem;
}
p.cv-definition {
  text-align: right;
  font: 0.7em Georgia, serif;
  width: 60%;
  padding-left: 40%;
}
p.cv-definition span.word {
  font-size: 1.5em;
}
code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: 12px;
}
@media only screen and (min-width: 662px) {
  div.wrapper {
    margin: 0 auto;
    max-width: 70ch;
  }
}

